extends layout

block content
  header
    .btn--menu: img(src="/images/btnMenu@2x.png", alt="", width="30")
    h1.pageTit: img(src="/images/pageTit@2x.png", alt="noroc", width="72")
    .btn--add: img(src="/images/btnAdd@2x.png", alt="", width="30")
  main
    section
      h2 Control Devices
      .deviceList
        section
          .device.off
            h3.device_name device1
            img.device_pic(src="/images/device_air@2x.png", alt="")
        section
          .device.off
            h3.device_name device2
            img.device_pic(src="/images/device_record@2x.png", alt="")
        section
          .device.off
            h3.device_name device3
            img.device_pic(src="/images/device_light@2x.png", alt="")
        section
          .device.off
            h3.device_name device4
            img.device_pic(src="/images/device_pot@2x.png", alt="")
        section
          .device.off
            h3.device_name device5
            img.device_pic(src="/images/device_off@2x.png", alt="")
        section
          .device.off
            h3.device_name device6
            img.device_pic(src="/images/device_off@2x.png", alt="")
        section
          .device.off
            h3.device_name device7
            img.device_pic(src="/images/device_noroshi@2x.png", alt="")
          
  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  script.
    $(function() {
      var deviceState = false;
      var device = $('.device');
      
      device.on('click', function() {
        var clickDevice = $(this);
        var picName     = clickDevice.find('.device_pic').attr('src');
        var deviceNum   = device.index(clickDevice) + 1;
        
        if (!clickDevice.hasClass('off')) {
          //onだったらoffにする処理
          clickDevice.addClass('off');
          
          if (picName.match('_on')) {
            clickDevice.find('.device_pic').attr('src', picName.replace('_on','_off'));
          } 
          
          //socket.IOでOFFの信号を送るやつ
          console.log(deviceNum);
        } else {
          //offだったらonにする処理
          clickDevice.removeClass('off');
          
          if (picName.match('_off')) {
            clickDevice.find('.device_pic').attr('src', picName.replace('_off','_on'));
          }
          
          //socket.IOでONの信号を送るやつ
          console.log(deviceNum);
        }
      });
    });
    
