<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainWindowIsFullScreen</key>
	<true/>
	<key>QRPanelSettings</key>
	<dict>
		<key>50</key>
		<dict>
			<key>BinderID</key>
			<integer>50</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>-1198 418 475 522 -1920 0 1920 1080 </string>
		</dict>
	</dict>
	<key>RecentMoveTos</key>
	<array>
		<integer>2</integer>
	</array>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>1</integer>
		<key>Title</key>
		<string>Original</string>
	</dict>
	<key>binderIsCollapsed</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>11</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {244, 863}}</string>
		<string>{{245, 0}, {1195, 863}}</string>
	</array>
	<key>binderState</key>
	<array>
		<integer>0</integer>
		<integer>29</integer>
		<integer>27</integer>
		<integer>25</integer>
		<integer>52</integer>
		<integer>30</integer>
	</array>
	<key>binderWidth</key>
	<real>191</real>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {191, 101}}</string>
		<string>{{0, 102}, {191, 715}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {967, 413}}</string>
		<string>{{0, 423}, {967, 412}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenBackgroundFade</key>
	<real>0.89999997615814209</real>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperPosition</key>
	<integer>0</integer>
	<key>fullScreenPaperWidth</key>
	<integer>906</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<true/>
	</dict>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorSelectedDataTab</key>
	<integer>5</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {967, 835}}</string>
		<string>{{968, 0}, {227, 835}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>10</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>31</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>31</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {621, 304}}</string>
	<key>mainDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<true/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainDocumentView</key>
	<string>supportingDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>0 37 1440 863 0 0 1440 900 </string>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array>
		<integer>50</integer>
	</array>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>99</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>51</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>51</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>51</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>51</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{13, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>32</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{10, 6}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>29</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>33</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>39</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>40</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>48</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>13</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>40</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>48</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>13</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>44</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>46</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>42</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>47</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>44</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>41</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>15</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>16</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>43</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>46</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>42</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>36</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>27</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>13</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>48</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>36</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>42</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>46</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>47</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>45</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>43</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>44</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>41</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>18</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>25</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>52</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>41</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>15</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>53</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>53</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>31</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>48</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>13</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>49</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>13</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>12</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>14</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>52</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>50</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 3151}, {595, 762}}</string>
	<key>supportingDocumentEditor.selectedRanges</key>
	<string>{3184, 0}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<true/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
